---
---

@import "minima";

/* Make page wider */
.wrapper {
  max-width: 1100px;
}

/* Improve readability */
.post-content {
  font-size: 18px;
  line-height: 1.7;
}

/* Make images scale nicely */
img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}